.scroll-me{
    overflow-y: auto;
    overflow-x: hidden;
}
.scroll-me::-webkit-scrollbar{
    background-color: white;
    width: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.scroll-me::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}
.card {
    border-radius: 10px;
    height: 550px;    
}

.alinhamento{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    align-items: center;
}