.tabela{
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
}
.tabela::-webkit-scrollbar{
    background-color: white;
    width: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tabela::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}

.card{
    border-radius: 20px;
    background-color: white;
}