.tabela{
    overflow-y: 10%;
    overflow-x: hidden;
    height: 200px;
}
.tabela::-webkit-scrollbar{
    background-color: white;
    width: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tabela::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}

.card{
    background-color: white;
}

